name: "Create API docs"
on:
  push:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1

      - name: Build
        run: shards && crystal docs

      - name: Upload
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./docs

  deploy:
    if: github.event_name == 'push' && github.ref_name == github.event.repository.default_branch
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Pages
        id: deployment
        uses: actions/deploy-pages@v2

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
